body {
    background-color:#303755;
    color:#fff;
    font-size:24px;
    margin:0px;
    padding:0xp;
    display:flex;
    flex-flow:column;
    min-height: 100vh;
}
h1 {
    text-align:center;
    text-decoration:underline;
    color:#000;
    background-color:#fff;
    margin:0px;
    padding-top: 40px;
    font-size: 75px;
}
h2 {
    padding:0px;
    margin:0px;
    text-align: center;
    margin-bottom:20px;
}

.containme {
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
}
.big_button {
    width:100%;
    display:flex;
    justify-content: center;
}
.big_button input {
    font-size:25px;
    cursor:pointer;
}
.number_box {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin-bottom:20px;
    
}
/*write it on a wall: flex goes on the
parent container*/
.number_box input {
    width:49%;
    font-size:150px;
    margin:0px;
    padding:0px;
}
.number_box input:nth-child(2) {
    text-align: right;
}
.number_box label {
    width:50%;
    font-size: 30px;
}
.number_box label:nth-child(4) {
    text-align: right;
}
.op_box {
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
    font-size: 25px;
}
.op_box input {
    width:20px;
    height:20px;
}
.result_box {
    width:100%;
}
.result_box div {
    margin-top:40px;
    display:block;
    text-align: center;
    font-size:30px;
}
footer {
    color:#000;
    background-color: #fff;
    width:100%;    
    margin-top: auto;
   
}
footer p {
    font-weight: bold;
    text-align:center;
}